body {
   background-image: url("Background.jpg");
   background-repeat:no-repeat;
   background-position: center;
    
     
}


canvas {
    margin: auto;
display: block;
order-radius: 10px;
text-align: center;
 margin-left:auto;
 margin-right: auto;
margin-top: 40px;
position:
   

}
.game {
    width: 80%;
    margin: 0 auto;
}