body {
    
     
}


canvas {
    margin: auto;
    display: block;
    
    border-radius: 10px;
    text-align: center;
    margin-left: 20%;
    margin-top: 40px;
   background-image: url("background.jpg");
}

.game {
    width: 80%;
    margin: 0 auto;
}