body {
   background-image: url("dia0806.jpg");
    
     
}


canvas {
    margin: auto;
    
display: block;
    
order-radius: 10px;
    

text-align: center;
   
 margin-left: 20%;
    
margin-top: 40px;
   

}
.game {
    width: 80%;
    margin: 0 auto;
}